# Project Part 1

A) An introductory proposal section describing what it is your doing to do and where the dataset originates
B) An exploratory analysis section that has the histograms, charts, tables, etc. that are the output from your exploratory analysis.

## Introduction/Background

In this notebook, I am using two distinct datasets, one which provides twenty-thousand English language statements,
as well as the AFINN Lexicon Dataset which assigns a value between -5 (Most negative connotation) and +5 (Most positive connotation)
to 2,477 English language words. The AFINN dataset is static. I seek to enhance the accuracy of the Statements dataset by first calculating
the sum of AFINN values for each statement. This will be followed by Deep Learning in the coming parts.

## Exploratory Data Analysis

* https://neptune.ai/blog/exploratory-data-analysis-natural-language-processing-tools
* https://regenerativetoday.com/exploratory-data-analysis-of-text-data-including-visualization-and-sentiment-analysis/
* https://medium.com/swlh/text-summarization-guide-exploratory-data-analysis-on-text-data-4e22ce2dd6ad  
* https://www.kdnuggets.com/2019/05/complete-exploratory-data-analysis-visualization-text-data.html

In [16]:
import matplotlib, numpy, nltk
import sklearn, gensim, wordcloud
import textblob, spacy, textstat
import pandas as pd
import seaborn as sns
from tqdm import tqdm, tqdm_pandas

In [17]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\cjens\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [18]:
statements = pd.read_csv("dataset/Statements/Data-all.csv")
lexiconAFINN = pd.read_csv("dataset/Lexicons/afinn.csv")

In [19]:
statements.head(5)

                                           Statement  Emotion
0  a boyfriend with whom i split up with came ove...    anger
1  a certain friend tried to push me off a seat i...    anger
2         a father of children killed in an accident  sadness
3                                   a few monthe ago    anger
4  a friend of mine suggested that i become a fil...      joy

In [20]:
lexiconAFINN.head(5)

   Unnamed: 0       word  value
0           1    abandon     -2
1           2  abandoned     -2
2           3   abandons     -2
3           4   abducted     -2
4           5  abduction     -2

In [33]:
afinnDict = dict(zip(lexiconAFINN.word, lexiconAFINN.value))
stmtAfinnValues = pd.Series(statements.Statement.apply(lambda stmt: sum([afinnDict[w] for w in stmt.split() if w in afinnDict]), 1))

In [34]:
stmtAfinnValues

0        1
1        0
2       -5
3        0
4        4
        ..
19995    0
19996    0
19997    3
19998    0
19999    4
Name: Statement, Length: 20000, dtype: int64